<div class="component-wrapper">
  <div class="cta-left-container">
    <h1 id="first-cta-tag">Spring is here</h1>
    <h1 id="sub-cta-tag">Get Your free no obligation quote today</h1>
    <p>
      Let the pros at APS get your pool shining bright for the summmer season
      ahead
    </p>
    <button [routerLink]="'/questions'" class="cta-button-main">
      GET STARTED
    </button>
  </div>
  <div class="cta-right-container">
    <img src="../../assets/peoplePool.png" />
  </div>
</div>
