@import "../scss/main";

.component-wrapper {
  margin: 3% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cta-left-container {
  h1 {
    color: white;
    font-weight: 600;
    margin: 10px 0px;
  }
  #first-cta-tag {
    font-size: 95px;
  }
  #sub-cta-tag {
    font-size: 50px;
  }
  p {
    color: white;
    font-size: 20px;
  }
}
