<div class="componentWrapper">
  <div class="titleContainer">
    <h1>{{ this.questionnaire.title }}</h1>
  </div>
  <div class="exerciseWrapper" id="exerciseWrapper">
    <div
      *ngIf="!hasFinished"
      id="questionCardContainer"
      class="exerciseDataDisply"
    >
      <div *ngIf="hasStarted">
        <img src="{{ this.questionnaire.questions[index].imgUrl }}" />
        <h2>{{ this.questionnaire.questions[index].question }}?</h2>
      </div>

      <div *ngIf="!hasStarted">
        <h3>Answer these simple questions for your free quote</h3>
        <button
          class="main-button"
          id="start-button"
          (click)="this.hasStarted = true"
        >
          Get Started
        </button>
      </div>
    </div>
    <div *ngIf="hasStarted && !hasFinished" class="input-container">
      <button
        id="button-yes"
        class="button-question-answers"
        (click)="
          hasItem(
            this.questionnaire.questions[index].desc,
            this.questionnaire.questions[index].price
          )
        "
      >
        YES
      </button>
      <button
        id="button-no"
        class="button-question-answers"
        (click)="updateIndex()"
      >
        NO
      </button>
    </div>

    <div
      *ngIf="hasFinished"
      class="exerciseDataDisply"
      id="exerciseReportContainer"
    >
      <div id="end-container" *ngIf="!scheduler.hasStarted">
        <div class="items-container">
          <table>
            <tr>
              <th>Service</th>
              <th>Amount</th>
            </tr>
            <tr *ngFor="let data of questionnaire.items">
              <td>{{ data.id }}</td>
              <td>${{ data.price }}</td>
            </tr>
          </table>
        </div>
        <div class="total-container">
          <table>
            <tr>
              <td>Subtotal:</td>
              <td>${{ this.questionnaire.subtotal }}</td>
            </tr>
            <tr>
              <td>Sales Tax:</td>
              <td>${{ this.questionnaire.subtotal * 0.06 }}</td>
            </tr>
            <tr>
              <td>Total:</td>
              <td>${{ this.questionnaire.total }}</td>
            </tr>
          </table>

          <button
            class="main-button"
            id="schedule-button"
            (click)="scheduler.hasStarted = true"
          >
            Schedule Now
          </button>
        </div>
      </div>
      <app-scheduler *ngIf="scheduler.hasStarted"></app-scheduler>
    </div>
  </div>
</div>
