@import "../scss/main";

.titleContainer {
  margin-top: 2%;
  background-color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.items-container {
  table {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: left;
    font-size: 25px;
    padding: 10px;
  }
  td {
    padding: 10px 0px;
  }
}

.total-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  table {
    width: 45%;
    float: right;
    font-size: 25px;
    text-align: left;
  }
  td {
    padding-top: 10px;
  }
}
.main-button {
  font-size: 20px;
  padding: 15px;
  background-color: $brandLightBlue;
  color: white;
  border: 1px solid $brandLightBlue;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    color: $brandLightBlue;
  }
}
#start-button {
  width: 50%;
}
#schedule-button {
  width: 50%;
  font-size: 25px;
  padding: 15px;
}
.button-question-answers {
  font-size: 15px;
  padding: 15px;
  width: 30%;
  margin: 1%;
}
.input-container {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#button-yes {
  background-color: #09e790;
  border: #09e790 1px solid;
  border-radius: 30px;
  color: white;
}
#button-no {
  background-color: red;
  border: red 1px solid;
  border-radius: 30px;
  color: white;
}
.exerciseWrapper {
  height: 600px;
  background-color: #ededed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exerciseDataDisply {
  text-align: center;
  border-radius: 10px;
  height: 55%;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 65%;
  background-color: white;
  img {
    padding-top: 2%;
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding-top: 1%;
  }
  h3 {
    padding-top: 11%;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
  }
  h4 {
    font-size: 4rem;
    margin: 0;
    margin-top: 12%;
    font-weight: 300;
  }
  span {
    font-size: 3rem;
    margin-bottom: 2%;
  }
  button {
    margin-top: 2%;
  }
}
.inputWrapper {
  margin-top: 3%;
  margin-bottom: 1%;
  input {
    width: 500px;
    border-radius: 25px;
    padding: 26px;
    font-size: 24px;
    text-align: center;
  }
}
.reportInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  h4 {
    font-size: 3rem;
    margin-top: 4% !important;
  }
}
.newLeader {
  h1 {
    font-size: 55px !important;
    margin-top: 3% !important;
    margin-bottom: 2% !important;
    font-weight: 300 !important;
  }
  input {
    margin-top: 10px;
    width: 350px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    border-right: none;
    font-size: 20px;
    text-align: center;
  }
  button {
    margin-top: 10px;
    width: 150px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
      transition: 300ms;
      border-left: 0px;
      border: 1px solid #09e790;
    }
  }
}
.notLeader {
  display: flex;
  flex-direction: column;
}
.exerciseButton {
  margin-bottom: 3%;
  margin-top: 2%;
}
#exerciseReportContainer {
  height: 85%;
  padding-left: 10px;
  padding-right: 10px;
  h1 {
    font-weight: 400;

    font-size: 2.5rem;
    margin-bottom: 0;
  }
  h3 {
    font-size: 3rem;
    font-weight: 300;
  }
  #wpmHeader {
    margin-top: 4%;
  }
  span {
    font-size: 2.5rem;
    // color: $brandGreen;
  }
}
#leaderboardHeader {
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 1%;
}
.tableWrapper {
  margin-bottom: 4%;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .exerciseDataDisply {
    width: 85% !important;
  }
  .titleContainer {
    h1 {
      margin: 0;
    }
  }
}
