.cta-button-main {
  margin-top: 1%;
  margin-right: 20px;
  font-size: 23px;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px;
  color: white;
  border-radius: 30px;
  width: 50%;
  font-weight: 500;
}
.cta-button-main:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: $brandDarkBlue;
  border: 1px solid white;
  background-color: white;
  transition: 300ms;
}
