<div class="headerContainer">
  <div class="flex-container">
    <h1 class="logo">
      <img id="headerLogo" [routerLink]="'/'" src="./assets/logo.jpg" />
    </h1>
    <ul class="navigation">
      <li id="newChart"><a [routerLink]="'/select'">Contact Us</a></li>
    </ul>
  </div>
</div>
