@import "../scss/main";

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.headerContainer {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;
  background-color: white;
}

.logo {
  margin: 0 0 0 0.45em;
  cursor: pointer;
}

.navigation {
  list-style: none;
  padding: 15px;
}

.navigation a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 15px;
  color: $brandLightBlue;
}

.navigation a:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
