@import "../scss/main";

.component-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
  h1 {
    text-align: left;
    font-weight: 300;
  }
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 2%;
    padding: 15px;
    border: solid 1px darkGrey;
    border-radius: 30px;
    &:focus {
      border: 1px solid $brandLightBlue;
    }
  }
}
.main-button {
  font-size: 20px;
  padding: 15px;
  background-color: $brandLightBlue;
  color: white;
  border: 1px solid $brandLightBlue;
  border-radius: 30px;
  width: 45%;
  margin: 1%;

  &:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    color: $brandLightBlue;
  }
}
.button-container {
  margin-bottom: 2%;
}
