<div class="component-wrapper">
  <h1>Client Info</h1>
  <label for="name">Your Name </label>
  <input name="name" placeholder="Name" />
  <label for="email">Your Email</label>
  <input name="email" placeholder="email" />
  <label for="dayPhone">Daytime Phone Number(required) </label>

  <input name="dayPhone" placeholder="Daytime Phone Number" />
  <label for="eveningPhone">Evening Phone Number </label>
  <input name="eveningPhone" placeholder="Evening Phone Number" />
  <label for="datewanted">Preferred Closing Date</label>
  <input type="date" name="dateWanted" placeholder="Preferred Closing Date" />
  <div class="button-container">
    <button (click)="onClickBuy()" class="main-button">
      Pay Now
    </button>
  </div>
</div>
