/* You can add global styles to this file, and also import other style files */
@import "../src/app/scss/main";
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: linear-gradient(to right, $brandDarkBlue, $brandLightBlue);
}
input:focus,
select:focus,
textarea:focus,
button:focus,
img:focus {
  outline: none;
}
